.tieude{
    font-family: Georgi,Verdana;
    font-size: 50px;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}
html{
    background-image: url(" img/awM8mVB_460s.jpg ");
    color: white;
}
.lietke {
    display: block;
    width: 704px;
    height: 101px;
    padding: 10px;
    margin: auto;
}
.mangxahoi:before {
    color: red;
}
